/*reset css*/
* {margin: 0; padding: 0;}
body {font-size: 12px; 
      font-family: futura-pt, sans-serif;
      font-style: normal;
      font-weight: 500;}
li {list-style: none;}
img {border: 0;}
a {text-decoration: none; color: inherit;}

header {background-color: #63759D; width: 100%; height: 70px; display: flex; justify-content: center; align-items: center;}


nav {width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 10px;  }
nav .wrap{display: block; width: 1024px; height: 70px;}
nav ul {display: flex; justify-content: space-around; align-items: center;}
nav ul li{}
nav li a {display: block; width: 180px; height: 40px; color: #63759D; font-size: 18px; font-weight: 600; text-align: center; line-height: 40px; margin-top: 10px;}
nav li a:hover{color: #FFFFFF; background-color: #63759D;}

section {width: 100%; height: 2380px;}

section .history {width: 100%; height: 1350px; margin: 0 auto;}
section .history .main_history_text_box {width: 1024px; height: 70px; margin: 0 auto;}
section .history .main_history_text_box .main_history_text {width: 166px; height: 64px; font-size: 35px; color: #63759D; font-weight: 600;}

section .history .history_text {width: 1024px; height: 1050px; margin: 0 auto; padding-left: 30px;}
section .history .history_text .history_text_box01 {width: 1024px; height: 100px;}
section .history .history_text .history_text_box01 .history_number01 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box01 .history_text01 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box02 {width: 1024px; height: 100px; margin-top: 30px;}
section .history .history_text .history_text_box02 .history_number02 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box02 .history_text02 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box03 {width: 1024px; height: 100px; margin-top: 30px;}
section .history .history_text .history_text_box03 .history_number03 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box03 .history_text03 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box04 {width: 1024px; height: 100px; margin-top: 30px;}
section .history .history_text .history_text_box04 .history_number04 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box04 .history_text04 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box05 {width: 1024px; height: 100px; margin-top: 30px;}
section .history .history_text .history_text_box05 .history_number05 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box05 .history_text05 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box06 {width: 1024px; height: 100px; margin-top: 30px;}
section .history .history_text .history_text_box06 .history_number06 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box06 .history_text06 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box07 {width: 1024px; height: 130px; margin-top: 30px;}
section .history .history_text .history_text_box07 .history_number07 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box07 .history_text07_01 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top: 20px;}
section .history .history_text .history_text_box07 .history_text07_02 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top: 40px;}

section .history .history_text .history_text_box08 {width: 1024px; height: 100px; margin-top: 80px;}
section .history .history_text .history_text_box08 .history_number08 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box08 .history_text08 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}

section .history .history_text .history_text_box09 {width: 1024px; height: 100px; margin-top: 30px;}
section .history .history_text .history_text_box09 .history_number09 {width: 166px; height: 70px; font-size: 70px; color: #E8F0FF; font-weight: 600;}
section .history .history_text .history_text_box09 .history_text09 {width: 900px; height: 30px; font-size: 18px; color: #000000; font-weight: 400; margin-left: 130px; margin-top:20px;}


section .introduce {width: 100%; height: 420px; margin: 0 auto; background-color: #F5F5F5; padding-top: 80px;}
section .introduce .main_introduce_text_box {width: 1024px; height: 70px; margin: 0 auto;}
section .introduce .main_introduce_text_box .main_introduce_text {width: 166px; height: 64px; font-size: 35px; color: #63759D; font-weight: 600; }

section .introduce .introduce_text {width: 1024px; height: 200px; margin: 0 auto; padding-left: 40px;}
section .introduce .introduce_text .introduce_text_box01 {width: 1024px; height: 50px;}
section .introduce .introduce_text .introduce_text_box01 .introduce_text01 {width: 1000px; height: 30px; font-size: 18px; color: #000000; font-weight: 400;}

section .introduce .introduce_text .introduce_text_box02 {width: 1024px; height: 50px; margin-top: 50px;}
section .introduce .introduce_text .introduce_text_box02 .introduce_text02 {width: 1000px; height: 30px; font-size: 18px; color: #000000; font-weight: 400;}

section .introduce .introduce_text .introduce_text_box03 {width: 1024px; height: 50px; margin-top: 50px;}
section .introduce .introduce_text .introduce_text_box03 .introduce_text03 {width: 1000px; height: 30px; font-size: 18px; color: #000000; font-weight: 400;}


section .df {width: 100%; height: 400px; margin: 0 auto; margin-top: 230px;}
section .df .main_df_text_box {width: 1024px; height: 70px; margin: 0 auto;}
section .df .main_df_text_box .main_df_text {width: 400px; height: 64px; font-size: 35px; color: #63759D; font-weight: 600;}

section .df .df_text {width: 1024px; height: 400px; margin: 0 auto; padding-left: 40px;}
section .df .df_text .df_text_box01 {width: 1024px; height: 120px;}
section .df .df_text .df_text_box01 .df_text01_01 {width: 1000px; height: 30px; font-size: 18px; color: #000000; font-weight: 400;}
section .df .df_text .df_text_box01 .df_text01_02 {width: 1000px; height: 30px; font-size: 15px; color: #000000; font-weight: 400; margin-left:20px;}

section .df .df_text .df_text_box02 {width: 1024px; height: 120px;}
section .df .df_text .df_text_box02 .df_text02_01 {width: 1000px; height: 30px; font-size: 18px; color: #000000; font-weight: 400;}
section .df .df_text .df_text_box02 .df_text02_02 {width: 1000px; height: 30px; font-size: 15px; color: #000000; font-weight: 400; margin-left:20px;}

section .df .df_text .df_text_box03 {width: 1024px; height: 120px;}
section .df .df_text .df_text_box03 .df_text03_01 {width: 1000px; height: 30px; font-size: 18px; color: #000000; font-weight: 400;}
section .df .df_text .df_text_box03 .df_text03_02 {width: 1000px; height: 30px; font-size: 15px; color: #000000; font-weight: 400; margin-left:20px;}


footer {background-color: #63759D; width: 100%; height: 70px; overflow: hidden; display: flex; justify-content: center; align-items: center;}
.logo {width: 280px; height: 50px; float: left;}
p {width: 454px; line-height: 10px; font-size: 15px; font-weight: 500; color: #fff; float: left; margin-top: 5px; margin-left: 300px;}